[submodule ".registry"]
	path = .registry
	url = https://github.com/hongyuanjia/universe
	shallow = true
	branch = HEAD
[submodule "eplusr"]
	path = eplusr
	url = https://github.com/hongyuanjia/eplusr
	shallow = true
	registered = true
[submodule "psychrolib"]
	path = psychrolib
	url = https://github.com/hongyuanjia/psychrolib/tree/CRAN/src/r
	shallow = true
	branch = CRAN
	subdir = src/r
	registered = true
[submodule "ggpsychro"]
	path = ggpsychro
	url = https://github.com/hongyuanjia/ggpsychro
	shallow = true
	registered = true
[submodule "epwshiftr"]
	path = epwshiftr
	url = https://github.com/ideas-lab-nus/epwshiftr
	shallow = true
	registered = true
[submodule "epwmap"]
	path = epwmap
	url = https://github.com/hongyuanjia/epwmap
	shallow = true
	registered = true
[submodule "jfun"]
	path = jfun
	url = https://github.com/hongyuanjia/jfun
	shallow = true
	registered = true
