[submodule ".registry"]
	path = .registry
	url = https://github.com/hongyuanjia/hongyuanjia.r-universe.dev
	branch = HEAD
[submodule "epluspar"]
	path = epluspar
	url = https://github.com/hongyuanjia/epluspar
[submodule "eplusr"]
	path = eplusr
	url = https://github.com/hongyuanjia/eplusr
[submodule "epwmap"]
	path = epwmap
	url = https://github.com/hongyuanjia/epwmap
[submodule "epwshiftr"]
	path = epwshiftr
	url = https://github.com/ideas-lab-nus/epwshiftr
[submodule "ggpsychro"]
	path = ggpsychro
	url = https://github.com/hongyuanjia/ggpsychro
[submodule "jfun"]
	path = jfun
	url = https://github.com/hongyuanjia/jfun
[submodule "psychrolib"]
	path = psychrolib
	url = https://github.com/hongyuanjia/psychrolib
	branch = CRAN
	subdir = src/r
